{% extends "base.html" %}
{% block title %} Pregunta detalle {% endblock %}
{% block content %}
    <h2>{{ pregunta.asunto }}?</h2>
    <p><b>Publicado:</b>{{ pregunta.fecha_publicacion | date: "D, d/m/Y" }}</p>
    <p>
        {% if pregunta.descripcion %}
        {{ pregunta.descripcion }}
        {% else %}
            No se ha incluido descripcion
        {% endif %}
    </p>
    <h3>Respuestas</h3>
    <ul>
        {% for respuesta in pregunta.respuesta_set.all %}
            <li>{{ respuesta.contenido|safe }}</li>
        {% empty %}
            <li>Aun no hay respuestas</li>
        {% endfor %}
    </ul>
{% endblock %}

<!DOCTYPE html>
<html>
<head>
    <title>Detalle Pregunta</title>
</head>
<body>
    <h2>{{pregunta.asunto}}?</h2>
    <p><b>Publicado:</b>{{pregunta.fecha_publicacion|date:"D, d/m/Y"}}</p>
    <p>{% if pregunta.descripcion %}
        {{pregunta.descripcion}}
        {% else %}
        No se ha incluido descripcion.
        {% endif %}
    </p>
    <h3>Respuestas</h3>
    <ul>
        {% for respuesta in pregunta.respuesta_set.all %}
        <li>{{respuesta.contenido|safe}}</li>
        {% empty %}
        <li>Aun no hay respuestas</li>
        {% endfor %}
    </ul>
</body>
</html>