<!DOCTYPE html>
<html lang="es">
<head>
    <title>Proyecto en Django, Hola mundo! | {% block title %} Inicio {% endblock %}</title>
</head>
<body>
        <div id="header">
            <h1>Curso de Django.</h1>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    <div id="navigation">
        <p><a href="{% url "homepage" %}">Inicio</a> | <a href="{% url "preguntas" %}">Preguntas</a> </p>
    </div>
</body>
</html>












